/* Reset */
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Containers */
.home-container,
.coffePage-container,
.form-container {
  background-color: #f0e1c2;
  min-height: 100vh;
}

.home-title {
  background-color: #fff;
  border-radius: 12px;
  color: #a15c39;
}

.card-coffe {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-area-not-found {
  background-color: #fff;
  border-radius: 15px;
  width: 70%;
  text-align: left;
  padding: 50px;
}

.card-coffe-container {
  width: 100%;
  margin-top: 15px;
}

.box-area-coffePage {
  background-color: #fff;
  border-radius: 15px;
  width: 35%;
  text-align: left;
  padding: 50px;
}

/* Typography */
h3 {
  margin: 20px;
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  font-weight: 300;
}

small {
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
}

label {
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Headers */

.menu-title {
  text-align: center;
  font-weight: 300;
}

.small-menu {
  font-size: 24px;
  font-weight: 700;
}

.card-properties {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.not-found {
  font-size: 36px;
  font-weight: 500;
}
.not-found-subtitle {
  font-size: 20px;
  font-weight: 300;
}

.welcome_text {
  text-align: start;
}
.h1-title {
  text-align: center;
}

.coffe-title {
  font-weight: bold;
  font-size: 42px;
  color: #fff;
}

.coffe-subtitle {
  font-size: 14px;
  text-wrap: wrap;
  text-align: center;
}

/* Form Styling */
.login {
  position: relative;
  min-height: 100vh;
  background-color: #f0e1c2;
  width: 100%;
}

.box-area {
  width: 55%;
  border-radius: 15px !important;
}

.box-bg {
  background-color: #3d1f19;
}

/* Button Styling */
.order-btn {
  color: #a15c39;
  font-weight: 500;
  border-radius: 7px;
}
/* los botones de ant design no pueden ser editados o se considera mala practica segun su documentacion y la mejor manera de editarlos es utilizando "!important" */

.order-btn:hover {
  color: #3d1f19 !important;
  border-color: #a15c39 !important;
}

.logout-btn {
  background-color: unset;
}

.logout-btn:hover {
  color: #fff !important;
  background-color: #ec393c !important;
}

.login-btn {
  background-color: #fff;
  color: black;
  font-weight: 500;
}

.delete-btn {
  color: #ec393c !important;
}

/* Image */

.page-coffeImg {
  width: 25%;
}

/* Form */

.select {
  width: 100%;
}

.textArea-form {
  height: 40px;
  resize: horizontal;
}

.form-background {
  background-color: #fff;
  border-radius: 10px;
  width: 40%;
}

.form_header {
  margin-top: 25px;
  text-align: start;
  font-size: 24px;
  font-weight: 600;
}
.coffee-icon {
  width: 10%;
  margin-top: 25px;
}
.form {
  min-height: 100vh;
}

/* background */
.login-background {
  background-color: #ead1a8;
  border-radius: 15px;
}

/* Responsive Styles */
@media screen and (width <= 667px) {
  .box-area {
    width: 100%;
  }
  .box-area-coffePage {
    width: 85%;
    padding: 25px;
  }
  .box-area-not-found {
    width: 85%;
  }
  .form-background {
    width: 80%;
  }
}

@media screen and (width <= 766px) {
  .form-background {
    width: 100%;
  }
}

@media screen and (width <= 1200px) {
  .box-area {
    width: 75%;
  }
  .box-area-coffePage {
    width: 70%;
    padding: 50px;
  }
}
