body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.home-container {
  background-color: #f0e1c2;
  min-height: 100vh;
}

.login {
  position: relative;
  min-height: 100vh;
  background-color: #f0e1c2;
  width: 100%;
}
.box-area {
  width: 55%;
  border-radius: 15px !important;
}

.box-bg {
  background-color: #3d1f19;
}
.welcome_text {
  font-size: 24px;
}

.h1-title {
  color: #a15c39;
  text-align: center;
  font-weight: bold;
}
.order-btn {
  color: #a15c39;
  font-weight: 500;
  border-radius: 7px;
}

.order-btn:hover {
  color: #3d1f19 !important;
  border-color: #a15c39 !important;
}

@media screen and (width <= 667px) {
  .box-area {
    width: 100%;
  }
}

@media screen and (width < 1200px) {
  .box-area {
    width: 75%;
  }
}
